body {
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    rgb(0, 0, 70),
    rgb(28, 181, 224)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 70),
    rgb(28, 181, 224)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dzu-inputLabel {
  color: black !important;
}
.dzu-dropzone {
  background-color: lightgray;
}
